.App {
  font-family: sans-serif;
  text-align: center;
  width: 70%;
  margin: auto;
}

body {
  background-color: #f0a0c4;
}

h1 {
  color: purple;
}

input {
  width: 80%;
  height: 30px;
  margin-bottom: 1rem;
  border: 1px solid purple;
  border-radius: 5px;
  padding: 0.3rem;
}

.single-emoji {
  padding: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  margin: 0.5rem;
display: inline-flex;
  
}

.single-emoji:hover {
  background-color: purple;
  border-radius: 50%;
  transition: all 0.5s ease-in;
}
